.navbar {
    background-color: black;
    height: 140px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background-color: none;
}
.menu-close {
    margin-left: 2rem;
    font-size: 2rem;
    background-color: none;
    margin-top: 30px;
}
.icono-cerrar {
    position: relative;
    top: 20px;
}

.nav-menu {
    background-color: black;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}
.nav-menu.active {
    left: 0;
    transition: 350ms;
    z-index: 1;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8x 16px;
    list-style: none;
    height: 100px;
}

.nav-text a {
    text-decoration: none;
    color: #f9f9f9;
    font-size: 18px;
    width: 95%;
    height: 95%;
    align-items: center;
    display: flex;
    padding: 0 16px;
    border-radius: 4px;
    margin-left: 5px;

    margin-top: 70px;
}

.nav-text a:hover {
    background-color: #1a83ff;
}

.nav-menu-items {
    width: 100%;
}
.navbar-toggle {
    background-color: black;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.links-menu {
    margin-left: 16px;
}
.menu-icons {
    margin-left: 15px;
}
h1 {
    color: #f9f9f9;
    padding-left: 200px;
}
body {
    background-color: #f9f9f9;
}
.btn-letter {
    color: white;
    font-size: 16px;
    /* padding */
}
.btn-letter2 {
    color: white;
    font-size: 16px;
    position: relative;
    top: 15px;
}
.nav-text2 {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8x 16px;
    list-style: none;
    height: 100px;
    color: #f9f9f9;
    font-size: 18px;
}

.nav-text2 a {
    text-decoration: none;
    color: #f9f9f9;
    font-size: 18px;
    width: 95%;
    height: 95%;
    align-items: center;
    display: flex;
    padding: 0 16px;
    border-radius: 4px;
    margin-left: 5px;

    margin-top: 70px;
}
.list a:hover {
    background-color: #1a83ff;
    width: 95%;

    border-radius: 4px;
    text-decoration: none;
}
.list {
    margin-top: 20px;
}
.options-container {
    margin-top: 35px;
}
