.quote {
    font-style: italic;
    font-size: 20px;
    margin-top: 35px;
    padding-left: 280px;
    padding-right: 280px;
    text-align: left;
}
.info {
    font-size: 20px;
    margin-top: 20px;
    text-align: left;
    padding-left: 280px;
    padding-right: 280px;
}
.Encabezado {
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 15px;
}
.icono-albergue {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    top: 3px;
}
.about-list {
    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
}
.pinfo {
    text-align: left;
}
.titulo-info {
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.icono-bike {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    top: 6px;
}
.icono-info {
    width: 25px;
    height: 25px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    top: 6px;
}
.mapa-compostela {
    text-align: left;
}
.pinfo-santiago {
    margin-bottom: 15px;
}

.catedral-img {
    width: 350px;
    height: 350px;
    padding: 20px;
}
